[submodule "BioREx-docker"]
	path = BioREx-docker
	url = git@github.com:BIOIN-401-Project-8/BioREx-docker.git
[submodule "AIONER-docker"]
	path = AIONER-docker
	url = git@github.com:BIOIN-401-Project-8/AIONER-docker.git
[submodule "GNorm2-docker"]
	path = GNorm2-docker
	url = git@github.com:BIOIN-401-Project-8/GNorm2-docker.git
[submodule "TaggerOne-PubTator3-docker"]
	path = TaggerOne-PubTator3-docker
	url = git@github.com:BIOIN-401-Project-8/TaggerOne-PubTator3-docker.git
[submodule "NLMChemTaggerNormalizer-docker"]
	path = NLMChemTaggerNormalizer-docker
	url = git@github.com:BIOIN-401-Project-8/NLMChemTaggerNormalizer-docker.git
[submodule "tmVar3-docker"]
	path = tmVar3-docker
	url = git@github.com:BIOIN-401-Project-8/tmVar3-docker.git
